/* vars */

:root {
    /* colors */
    --sunglow: #ffcc35;
    --chocolate-web: #dc7126;
    --carnelian: #b81616;
    --green-ryb: #68b306;
    --avocado: #4f8904;
    --background: #eeeeee;
    --cultured: #f5f6f7; 
    --gainsboro: #dedfdf;
    --silver: #c7c7c7;
    --manatee: #979ba7;
    --granite-gray: #636363;
    --eerie-black: #262626;
    --cosmic-latte: #fdf4e0;
}

body {
    margin: 0;

    .hidden {
        display: none;
    }

    #blockedPage {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		height: 100%;
		width: 100%;
		background-color: #80808075;
		z-index: 1;
        pointer-events: none;

        .spinner {
            position: absolute;
            display: inline-block;
            align-self: center;
            top: 50vh;
            right: 50%;
            height: 60px;
            width: 60px;
            transform: translate(50%, 0);
        
            div {
                position: absolute;
                display: block;
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                border: 6px solid #fff;
                border-color: #FFF transparent transparent transparent;
                border-radius: 50%;
                animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

                &:nth-child(1) {
                    animation-delay: -0.45s;
                }
                &:nth-child(2) {
                    animation-delay: -0.3s;
                }
                &:nth-child(3) {
                    animation-delay: -0.15s;
                }
            }

            @keyframes spinner {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
	}

    .elipse {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        width: 3vh;
        padding: 30px;
        border-radius: 50%;

        &.yellow {
            background-color: inherit;
            border: 3px solid var(--sunglow);

            svg {
                fill: var(--sunglow);
            }

            &.active {
                background-color: var(--sunglow);
            }
        }
        &.orange {
            background-color: inherit;
            border: 3px solid var(--chocolate-web);

            svg {
                fill: var(--chocolate-web);
            }

            &.active {
                background-color: var(--chocolate-web);
            } 
        }
        &.red {
            background-color: inherit;
            border: 3px solid var(--carnelian);

            svg {
                fill: var(--carnelian);
            }

            &.active {
                background-color: var(--carnelian);
            }
        }

        svg {
            height: 80px;
            width: 80px;
        }

        &.active svg {
            fill: #FFF;
        }
    }

    header {
        position: relative;

        h1 {
            margin: 0;
            padding: 5vh 0 2vh 8vw;
            font-size: 15vw;
            font-style: normal;
            font-weight: 400;
            font-family: 'Titan One', cursive;
            background: linear-gradient(101.39deg, var(--sunglow) 3.41%, var(--carnelian) 91.01%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
    
            span:nth-of-type(1){
                margin-right: -11vw;
            }
            span:nth-of-type(2){
                margin-left: -13vw;
            }
            svg {
                height: 20vw;

            }
        }
    }
    
    .page-content {
        font-family: 'Montserrat', sans-serif;

        .new-bet-btn {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            width: 155px;
            padding: 10px;
            color: #FFF;
            background-color: var(--chocolate-web);
            font-weight: 500;
            border-radius: 10px;

            p {
                margin: 0;
            }
        }

        .bet-elem {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 3vw;
            padding: 6vw;
            font-size: 4.5vw;
            border: 3px solid var(--chocolate-web);
            border-radius: 10px;

            h2 {
                margin: 0;
                font-size: 5vw;
            }

            p {
                margin: 2vh 0;
                font-size: 4vw;
            }

            .statut {
                display: block;
                width: 55px;
                padding: 2vh 4vw;
                text-align: center;
                color: #000;
                font-size: 3.5vw;
                font-weight: bold;
                border: 3px solid #000;
                border-radius: 10px;

                &.ouvert{
                    color: var(--avocado);
                    border-color: var(--avocado);
                }
                &.terminé{
                    color: var(--carnelian);
                    border-color: var(--carnelian);
                }
                &.archivé {
                    color: var(--granite-gray);
                    border-color: var(--granite-gray);
                }
            }

            span:has(svg) {
                position: absolute;
                top: 10px;
                right: 20px;
            }

            ul {
                padding: 0;

                li.vote-elem {
                    align-items: center;

                    &.voted {
                        display: flex;
                        padding: 10px;
                        background-color: #dc712638;
                    }

                    &.no-vote {
                        text-align: center;
                        background-color: inherit;
                    }

                    &.form {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        background-color: #dc712638;

                        > div {
                            display: flex;
                            gap: 10px;
                        }
                    }

                }
            }

            .btn-box {
                display: flex;
                justify-content: center;
            }
        }
    
        &#homePage {
            display: flex;
            flex-direction: column;
            align-items: center;

            .elipse {
                margin: 2vh auto;
                background-color: var(--sunglow);
            }
            ul.bet-list {
                max-height: 60vh;
                max-width: 95vw;
                overflow-y: scroll;
                margin: 0 auto;
                padding: 0;

                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #fff;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--sunglow);
                    border-radius: 10px;
                }
            }
        }

        &#newBetPage {

        }

        &#showBetPage {

            .bet-elem {

                .votes-list {
                    list-style-type: none;
                }
            }
        }
    }

    footer nav {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 40px;
        width: 100%;
    }
}
