@charset "UTF-8";
/* vars */
:root {
  /* colors */
  --sunglow: #ffcc35;
  --chocolate-web: #dc7126;
  --carnelian: #b81616;
  --green-ryb: #68b306;
  --avocado: #4f8904;
  --background: #eeeeee;
  --cultured: #f5f6f7;
  --gainsboro: #dedfdf;
  --silver: #c7c7c7;
  --manatee: #979ba7;
  --granite-gray: #636363;
  --eerie-black: #262626;
  --cosmic-latte: #fdf4e0;
}

body {
  margin: 0;
}
body .hidden {
  display: none !important;
}
body #blockedPage {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4588235294);
  z-index: 1;
  pointer-events: none;
}
body #blockedPage .spinner {
  position: absolute;
  display: inline-block;
  align-self: center;
  top: 50vh;
  right: 50%;
  height: 60px;
  width: 60px;
  transform: translate(50%, 0);
}
body #blockedPage .spinner div {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border: 6px solid #fff;
  border-color: #FFF transparent transparent transparent;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
body #blockedPage .spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
body #blockedPage .spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
body #blockedPage .spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .elipse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 5vh;
  padding: 15px;
  border-radius: 50%;
}
body .elipse.yellow {
  background-color: inherit;
  border: 3px solid var(--sunglow);
}
body .elipse.yellow svg,
body .elipse.yellow svg path {
  fill: var(--sunglow);
}
body .elipse.yellow.active {
  background-color: var(--sunglow);
}
body .elipse.orange {
  background-color: inherit;
  border: 3px solid var(--chocolate-web);
}
body .elipse.orange svg,
body .elipse.orange svg path {
  fill: var(--chocolate-web);
}
body .elipse.orange.active {
  background-color: var(--chocolate-web);
}
body .elipse.red {
  background-color: inherit;
  border: 3px solid var(--carnelian);
}
body .elipse.red svg,
body .elipse.red svg path {
  fill: var(--carnelian);
}
body .elipse.red.active {
  background-color: var(--carnelian);
}
body .elipse svg {
  height: 80px;
  width: 80px;
}
body .elipse.active svg, body .elipse.active svg path {
  fill: #FFF;
}
body header {
  position: relative;
}
body header h1 {
  margin: 0;
  padding: 5vh 0 2vh 8vw;
  font-size: 15vw;
  font-style: normal;
  font-weight: 400;
  font-family: "Titan One", cursive;
  background: linear-gradient(101.39deg, var(--sunglow) 3.41%, var(--carnelian) 91.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body header h1 span:nth-of-type(1) {
  margin-right: -11vw;
}
body header h1 span:nth-of-type(2) {
  margin-left: -13vw;
}
body header h1 svg {
  height: 20vw;
}
body header .showHome_js {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .page-content {
  font-family: "Montserrat", sans-serif;
}
body .page-content .newBet_js,
body .page-content .newVote_js {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 155px;
  padding: 10px;
  color: #FFF;
  background-color: var(--chocolate-web);
  font-size: 4vw;
  font-weight: 500;
  border-radius: 10px;
}
body .page-content .newBet_js p,
body .page-content .newVote_js p {
  margin: 0;
}
body .page-content .bet-elem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3vw;
  padding: 2vh 3vw;
  font-size: 4.5vw;
  border: 3px solid var(--chocolate-web);
  border-radius: 10px;
}
body .page-content .bet-elem h2 {
  margin: 0;
  font-size: 5vw;
}
body .page-content .bet-elem p {
  margin: 2vh 0;
  font-size: 4vw;
}
body .page-content .bet-elem .statut {
  display: block;
  width: 55px;
  padding: 2vh 4vw;
  text-align: center;
  color: #000;
  font-size: 3.5vw;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 10px;
}
body .page-content .bet-elem .statut.ouvert {
  color: var(--avocado);
  border-color: var(--avocado);
}
body .page-content .bet-elem .statut.terminé {
  color: var(--carnelian);
  border-color: var(--carnelian);
}
body .page-content .bet-elem .statut.archivé {
  color: var(--granite-gray);
  border-color: var(--granite-gray);
}
body .page-content .bet-elem .user-name {
  font-weight: 600;
}
body .page-content .bet-elem .date {
  min-width: 95px;
  padding: 1vh 2vw;
  text-align: center;
  font-weight: 600;
  border: 1px solid;
  border-radius: 10px;
}
body .page-content .bet-elem span:has(svg) {
  position: absolute;
  top: 10px;
  right: 20px;
}
body .page-content .bet-elem .btn-box {
  display: flex;
  justify-content: center;
}
body .page-content#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin: 2vh 0;
}
body .page-content#homePage .elipse {
  margin: 2vh auto;
  background-color: var(--sunglow);
}
body .page-content#homePage ul.bet-list {
  width: 95vw;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
}
body .page-content#homePage ul.bet-list::-webkit-scrollbar {
  width: 8px;
}
body .page-content#homePage ul.bet-list::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
body .page-content#homePage ul.bet-list::-webkit-scrollbar-thumb {
  background-color: var(--sunglow);
  border-radius: 10px;
}
body .page-content#showBetPage .bet-elem h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .page-content#showBetPage .bet-elem h2 .statut {
  margin: 0;
  padding: 1vh 2vw;
}
body .page-content#showBetPage .bet-elem .newVote_js {
  margin-bottom: 1vh;
}
body .page-content#showBetPage .bet-elem ul.votes-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 0;
  list-style-type: none;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 2vw;
  background-color: rgba(220, 113, 38, 0.2196078431);
  gap: 3vw;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem p {
  margin: 0;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(220, 113, 38, 0.2196078431);
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.form select,
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.form input[type=date],
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.form .postVote_js {
  padding: 5px 10px;
  font-size: 4vw;
  border: none;
  border-radius: 5px;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.form .postVote_js {
  color: #FFF;
  font-weight: 500;
  background-color: #dc7126;
}
body .page-content#showBetPage .bet-elem ul.votes-list li.vote-elem.no-vote {
  text-align: center;
  background-color: inherit;
}
body footer nav {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */