<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris Girafe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Titan+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="templates/style/style.css">
</head>
<body>
    <div id="blockedPage">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header></header>
    <div id="homePage" class="page-content">
        <div class="new-bet-btn newBet_js">
            <p>Nouveau pari</p>
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 3C13.5 2.44772 13.0523 2 12.5 2H11.5C10.9477 2 10.5 2.44772 10.5 3V10.5H3C2.44772 10.5 2 10.9477 2 11.5V12.5C2 13.0523 2.44772 13.5 3 13.5H10.5V21C10.5 21.5523 10.9477 22 11.5 22H12.5C13.0523 22 13.5 21.5523 13.5 21V13.5H21C21.5523 13.5 22 13.0523 22 12.5V11.5C22 10.9477 21.5523 10.5 21 10.5H13.5V3Z" fill="#FFF"/>
            </svg>
        </div>
        <ul class="bet-list"></ul>
    </div>
    <div id="newBetPage" class="page-content hidden">
        coucou new bet page
        <div class="bet-new"></div>
    </div>
    <div id="showBetPage" class="page-content hidden">
        coucou show bet page
        <div class="bet-show"></div>
    </div>
    <div id="showUserPage" class="page-content hidden">
        coucou show user page
        <div class="user-show"></div>
    </div>
    <footer></footer>

    <script src="templates/script/jquery.min.js"></script>
    <script src="templates/script/script.js"></script>
</body>
</html>